.background {
    height: 92vh;
    width: 100%;
    position: fixed;
    overflow: auto;
    overflow-x: hidden;
}

.blur {
    height: 92vh;
    width: 100%;
    position: fixed;
    overflow: auto;
    backdrop-filter: blur(8px);
    background-color:rgba(0, 0, 0, .5);
    overflow-x: hidden;
}

.text {
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
